<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <P>
       <select name="brands" id="brands">
           <option value="benz">奔驰</option>
           <option value="bmw">宝马</option>
           <option value="TSL">特斯拉</option>
           <option value="WL">五菱</option>
       </select>
   </P>
   <p>
       <input type="radio" name="sex" value="0" checked>男
       <input type="radio" name="sex" value="1">女
   </p>
   <p>
       <input type="file" name="pic" id="pic">
   </p>

</body>
</html>